<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>359495417480-idnuo5k1559pj426q48cmv0anta9a0m5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.359495417480-idnuo5k1559pj426q48cmv0anta9a0m5</string>
	<key>API_KEY</key>
	<string>AIzaSyAS1hOjOMs6ZNyr_h95LovkT-rxtUzOcck</string>
	<key>GCM_SENDER_ID</key>
	<string>359495417480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.oonzooAssignment</string>
	<key>PROJECT_ID</key>
	<string>oonzo-assignment</string>
	<key>STORAGE_BUCKET</key>
	<string>oonzo-assignment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359495417480:ios:c368f5961f3b04e56a293d</string>
</dict>
</plist>